!!! 5
//if lt IE 9
    <html class="ie">
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
    head
      meta(charset='utf-8')
      title
        block title
          = page.title + ' - ' + locals.name
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(href='http://fonts.googleapis.com/css?family=Montserrat+Alternates', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='css/main.css')
      //if lt IE 9
        script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    body(class=page.metadata.section)(lang='en')
      header
        block header
          p
            a(href=locals.url)= locals.name
      block hero
      .content
        block content
          h2 Develop the perfect geek snack
          .copy.pullout
            p
              a(href='https://github.com/thingsinjars/opensourcesnacks') Clone the repository  
            | and make your own seed snacks to munch on while you code.
            p If you have an improvement: fork, change and submit a pull request.
        include navigation
        ul.benefits
          li low-fat
          li lots of energy
          li vegan-friendly
          li gluten free
          li tasty
      footer
        block footer
          .logo
            a(href='https://github.com/thingsinjars/opensourcesnacks') Open Source Snacks
          p
            a(href='https://twitter.com/OpenSnacks') @OpenSnacks
            |  by 
            a(href='https://twitter.com/thingsinjars') @thingsinjars
      a(href='https://github.com/thingsinjars/opensourcesnacks')
        img(style='position: absolute; top: 0; left: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png', alt='Fork me on GitHub')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
      script(src='/js/jquery.highlight.js')
      script(src='/js/oss.js')