nav
  ul
    li.nav-recipes
      a(href='recipes.html') Recipes
    li.nav-about
      a(href='about.html') About
    li.nav-measurements
      a(href='measurements.html') Measurements
    li.nav-contact
      a(href='contact.html') Contact
